@charset "utf-8";
$green:#35b558;
$border_colorD:1px solid #dcdcdc;
* {
    font-size: 13px;
    margin: 0;
    padding: 0;
    color: #000;
}

ul,
li {
    list-style: none;
}

div,
ul,
li,
a,
img {
    box-sizing: border-box;
}

body {
    font-family: Verdana, 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft Yahei', Helvetica, arial, \5b8b\4f53, sans-serif;
    position: relative;
    min: {
        width: 1000px;
        height: 2650px;
    }
}

body,
html {
    width: 100%;
    height: 100%;
}

.flt {
    float: left;
}


/* 手机模式下隐藏内容 */

.mob_bottomList {
    display: none;
}

.w-1010 {
    width: 1010px;
    /* max-width: 1000px;
*/
    margin: 0 auto;
}

.mr-t {
    margin-top: 20px;
}


/* 页面头部 */

.jike-heading {
    height: 50px;
    margin-right: 175px;
    margin-left: 175px;
    padding: 10px 0;
}


/* 极客LOGO设置 */

.logo img {
    width: 117px;
    margin-top: 5px;
    margin-right: 190px;
}

.logo,
.search-input,
.heading-nav {
    float: left;
}


/* 导航信息图片 */

.message {
    display: block;
    width: 18px;
    height: 17px;
    background: url(../../images/massage-icon2.gif) center center no-repeat;
    background-size: 15px 13px;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #35b558;
}


/* 页头右侧小导航 */

.heading-nav {
    position: absolute;
    top: 27px;
    right: 116px;
    ul li {
        line-height: 14px;
        float: left;
        height: 14px;
        list-style: none;
        a {
            margin: 0 15px;
        }
    }
}

.rBorder {
    border-right: 2px solid #000;
}

a {
    text-decoration: none;
}


/* 搜索按钮 */

.search-button {
    position: absolute;
    top: -1px;
    right: -37px;
    float: left;
    width: 36px;
    height: 36px;
    border: $border_colorD;
    border-left: none;
    background: url(../../images/topsearch-icon.png) center center no-repeat;
}


/* 页面主导航-左侧 */

$navbarS:left right list childUl childList;

/* 5 */

.nav-bar {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    position: relative;
    padding: 0 129px 0 175px;
    box-shadow: 1px 1px 2px 1px #dcdcdc;
    /* 设置底部阴影 */
    .nav-bar-#{nth($navbarS,1)} {
        /*navbar-left*/
        float: left;
        line-height: 40px;
        height: 40px;
        &:hover {
            .nav-bar-#{nth($navbarS,4)} {
                /*navbar-ChildUl*/
                display: block;
            }
        }
        .nav-bar-#{nth($navbarS,3)} {
            /*navbar-list*/
            cursor: pointer;
            float: left;
            text-align: center;
            a {
                &:hover {
                    color: $green;
                }
            }
        }
        .nav-bar-#{nth($navbarS,4)} {
            /* navbar-ChildUl */
            z-index: 10;
            height: 170px;
            position: absolute;
            top: 41px;
            left: 170px;
            padding: 0 0 0 53px;
            background-color: #fff;
            border: 1px solid #f7f7f7;
            box: {
                sizing: border-box;
                shadow: 0 1px 3px 1px #dcdcdc;
            }
            display: none;
            >li {
                width: 120px;
                float: left;
                border-right: 1px solid #f7f7f7;
            }
            .nav-bar-#{nth($navbarS,5)} {
                /* navbar-childList */
                width: 100%;
                li {
                    line-height: 29px;
                    height: 29px;
                    text-indent: 20px;
                    margin: 0;
                    cursor: pointer;
                    &:hover {
                        a {
                            color: $green;
                        }
                    }
                }
            }
        }
    }
    /* 页面主导航-右侧 */
    .nav-bar-#{nth($navbarS,2)} {
        float: right;
        .nav-bar-#{nth($navbarS,3)} {
            float: left;
            margin-left: 20px;
            a {
                &:hover {
                    color: #35b558;
                }
            }
        }
    }
    .nav-bar .nav-bar-left,
    .nav-bar-right {
        line-height: 40px;
        height: 40px;
    }
}

.set-width {
    width: 120px;
}


/* 清除浮动 */

.clear_float {
    content: "";
    clear: both;
}


/* 页头搜索框 */

#search-input {
    position: relative;
    width: 365px;
    height: 36px;
    margin: 7px;
    border: $border_colorD;
}

.search-input {
    form {
        width: 100%;
        height: 100%;
        margin: 2px 15px;
        input {
            width: 332px;
            height: 25px;
            margin: 2px 0;
            border: none;
            outline: none;
        }
    }
}


/* 右侧导航图标 */

$iconS:vip,
txwj,
dl,
new;
%iconSet {
    display: block;
    float: left;
    width: 21px;
    height: 40px;
    margin-right: 5px;
}

@each $selector in $iconS {
    .#{$selector}-icon {
        @extend %iconSet;
        background:url(../../images/#{$selector}-icon.png) center center no-repeat;
    }
}

.new-icon {
    position: absolute;
    top: 2px;
    right: 114px;
    display: block;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
}


/* 热点搜索 */

.hot-word {
    position: absolute;
    top: 9px;
    right: 10px;
    a {
        font-size: 13px;
        width: 47px;
        height: 15px;
        margin-left: 3px;
        padding: 2px 3px;
        background-color: #dfdfdf;
        &:hover {
            background-color: #999;
        }
    }
}

$height-list:(body-content:380px, career-path:690px, know-path:565px, enterprise:182px);
@each $path,
$height in $height-list {
    .#{$path} {
        height:#{$height};
    }
}


/* 课程 */


/* 声明混合 */

@mixin lesson-select($display:block, $width:25px, $height:25px, $margin:10px auto 2px auto, $background:url(../../images/recommend.png) center center no-repeat, $background-position:-7px -34px, $background-size:74px) {
    display: $display;
    width: $width;
    height: $height;
    margin: $margin;
    background: $background;
    background-position: $background-position;
    background-size: $background-size;
}

$lessonSelect:(qa, -7px -4px),
(wiki, -7px -34px),
(lesson, -7px -64px),
(qun, -7px -94px),
(download, -7px -124px),
(kown, -7px -154px),
(career, -7px -184px),
(vip, -7px -214px);
.lesson-button {
    margin: 0 auto;
    cursor: pointer;
    .clear-right {
        border-right: 0;
    }
    .lesson-box {
        float: left;
        width: 52px;
        height: 74px;
        text-align: center;
        border: {
            right: $border_colorD;
            bottom: $border_colorD;
        }
        p {
            margin-bottom: 4px;
        }
        @each $lesson,
        $position in $lessonSelect {
            .#{$lesson} {
                @include lesson-select($background-position:#{$position});
            }
        }
        @for $i from 5 through 8 {
            &:nth-child(#{$i}) {
                &:hover {
                    p {
                        color: $green;
                    }
                }
            }
        }
    }
}

.triangle {
    display: block;
    width: 0;
    height: 0;
    margin: 0 auto;
    border: 7px solid #dcdcdc;
    border: {
        right-color: transparent;
        bottom-color: transparent;
        left-color: transparent;
    }
}


/* 职业路径图 */

.career-card {
    .engineer {
        display: block;
        float: left;
        box-sizing: border-box;
        width: 202px;
        height: 298px;
        border: $border_colorD;
        text-align: center;
        img {
            width: 200px;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 5px;
            font-size: 12px;
            .enTitle {
                font-size: 17px;
                margin-bottom: 18px;
            }
        }
        .career-btn {
            width: 140px;
            height: 33px;
            line-height: 33px;
            font: {
                size: 16px;
                weight: bold;
            }
            margin-top: 18px;
            color: $green;
            border: 1px solid $green;
            background-color: #f3fff6;
            -webkit-transition: color .3s linear,
            background-color .3s ease-in;
            -moz-transition: color .3s linear,
            background-color .3s ease-in;
            -ms-transition: color .3s linear,
            background-color .3s ease-in;
            transition: color .3s linear,
            background-color .3s ease-in;
        }
    }
    a {
        &:hover {
            border: 1px solid $green;
            padding-right: -1px;
            .career-btn {
                color: #fff;
                background-color: $green;
            }
        }
    }
}


/* 职业路径图标题 */

.path-titile {
    float: left;
    width: 100%;
    position: relative;
    margin: {
        top: 44px;
        bottom: 20px;
    }
    i {
        display: block;
        width: 14px;
        height: 14px;
        font: {
            size: 14px;
            style: normal;
        }
        line-height: 15px;
        text-align: center;
        border-radius: 50%;
        background-color: #999;
        float: left;
        color: #fff;
        margin: 7px 0 0 10px;
    }
    strong {
        float: left;
        a {
            font: {
                size: 21px;
                weight: 400;
            }
        }
    }
}

.career-more {
    float: right;
    font-size: 14px;
    line-height: 27px;
    color: #2d85ca;
}


/* 知识体系图 */

.know-card {
    a {
        display: block;
        width: 168.5px;
        height: 119px;
        float: left;
        border: 1px solid #dcdcdc;
        margin: 0 -1px -1px 0;
        position: relative;
        overflow: hidden;
        &:hover {
            .front {
                transform: rotateY(180deg);
                -webkit-transform: rotateY(180deg);
            }
            .back {
                transform: rotateY(0deg);
                -webkit-transform: rotateY(0deg);
            }
        }
    }
}

%frontback {
    position: absolute;
    transition: .6s;
}

.front {
    @extend %frontback;
    z-index: 5;
    width: 168.5px;
    height: 119px;
    background-color: #fff;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    p {
        margin: 5px auto 0 auto;
        text-align: center;
        font-size: 15px;
        &:nth-child(3) {
            color: $green;
        }
    }
    img {
        height: 40px;
        width: 40px;
        display: block;
        margin: 15px auto 0 auto;
    }
}

.back {
    @extend %frontback;
    width: 168.5px;
    height: 119px;
    background-color: #e4e4e4;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    p {
        text-align: center;
        margin: 25px auto 5px auto;
        font-size: 15px;
    }
    button {
        width: 140px;
        height: 36px;
        display: block;
        border: none;
        background-color: #35b558;
        color: #fff;
        font: {
            size: 16px;
            weight: bold;
        }
        text-align: center;
        margin: 10px auto 25px auto;
    }
}


/* 精品系列课程图 */

.lesson-path {
    box-sizing: border-box;
    height: 360px;
}

.lesson-card {
    width: 230px;
    height: 260px;
    border: 1px solid #dcdcdc;
    float: left;
    position: relative;
    .lesson-btn {
        padding-left: 22px;
        p {
            float: left;
            font-size: 12px;
            margin-right: 22px;
        }
        button {
            width: 50px;
            height: 18px;
            padding: 4px auto;
            color: #fff;
            background-color: #35b558;
            border: {
                width: 0;
                radius: 3px;
            }
            outline: 0;
            cursor: pointer;
            float: left;
            &:hover {
                background-color: #66d178;
            }
        }
    }
    .lesson-mask {
        p {
            font-size: 14px;
            overflow: hidden;
            /* 超出部分隐藏 */
            text-overflow: ellipsis;
            /* 超出部分显示为点 */
            white-space: nowrap;
            /* 不换行 */
            margin: 12px 22px 0 22px;
        }
        img {
            width: 100%;
            height: 100%;
            padding: 13px 18px 18px 18px;
        }
    }
    /* 课程遮罩 */
    .leeson-alpha {
        width: 100%;
        height: 80%;
        background: rgba(255, 255, 255, .9);
        position: absolute;
        top: 0;
        visibility: hidden;
        opacity: 0;
        transition: .5s;
        .icon {
            .circle {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 20px auto 10px auto;
                overflow: hidden;
                a {
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            a {
                padding: auto 20px;
                display: block;
                overflow: hidden;
                &:nth-child(2) {
                    text-align: center;
                    &:hover {
                        color: $green;
                    }
                }
                &:nth-child(3) {
                    width: 100%;
                    height: 32px;
                    overflow: hidden;
                    margin-top: 10px;
                    padding: 0 20px 0 20px;
                }
            }
        }
        .alpha_btn {
            width: 100px;
            height: 30px;
            line-height: 30px;
            border-radius: 3px;
            display: block;
            color: #fff;
            font-size: 14px;
            text-align: center;
            background-color: #35b558;
            margin: 20px auto 0 auto;
            &:hover {
                background-color: #66d178;
            }
        }
    }
    &:hover {
        border-color: #35b558;
        .leeson-alpha {
            visibility: visible;
            opacity: 1;
        }
    }
}

.lc {
    margin-right: 28.5px;
}


/* 主导航 */

.body-nav {
    width: 210px;
    height: 380px;
    border: {
        right: 1px solid #dcdcdc;
        left: 1px solid #dcdcdc;
        top: 2px solid $green;
    }
    position: relative;
    li {
        cursor: pointer;
    }
    ul {
        >li {
            line-height: 36px;
            height: 38px;
            text-indent: 18px;
            border-bottom: 1px solid #dcdcdc;
            &:hover {
                border: {
                    top: 1px solid#dcdcdc;
                    right: 3px solid #fff;
                    left: 2px solid $green;
                }
                margin: {
                    top: -1px;
                    right: -1px;
                    left: -2px;
                }
                background-color: #fff;
                padding-left: 2px;
            }
            a {
                &:hover {
                    color: $green;
                }
            }
            &:hover {
                .nav-list-show {
                    display: block;
                }
                span {
                    display: none;
                }
            }
        }
    }
}


/* 导航显示框 */

.w4 {
    width: 401px
}

.w5 {
    width: 590px;
}

.nav-list-show {
    min-height: 373px;
    min-width: 401px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: -2px;
    left: 211px;
    border-top: 1px solid #e4e4e4;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .1);
    display: none;
    dl {
        dt {
            height: 37px;
            border-bottom: 1px solid #f5f5f5;
            margin: 0 10px;
        }
        dd {
            padding-left: 10px;
            a {
                height: 38px;
                margin-top: 5px;
                text-indent: 0;
                text-align: center;
                border-right: 1px solid #e4e4e4;
                padding-right: 6px;
            }
        }
    }
}

dd,
dt {
    &:hover {
        color: $green;
    }
}

dd {
    a {
        &:last-child {
            border-right: 0;
        }
    }
}


/* 导航符号 */

.list-rt {
    margin: {
        top: 13px;
        right: 10px;
    }
    border: {
        right: 2px solid #dcdcdc;
        bottom: 2px solid #dcdcdc;
    }
    float: right;
    display: block;
    width: 8px;
    height: 8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.banner-box {
    width: 560px;
    height: 370px;
    margin: 0 14px;
}


/* 广告轮播图 */


/* 轮播图按钮统一格式设置 */

%swBtnSet {
    width: 40px;
    height: 50px;
    background-color: rgba(0, 0, 0, .5);
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    font-family: "宋体";
    font-weight: bolder;
    color: #fff;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    display: none;
}

.swiper {
    width: 560px;
    height: 260px;
    position: relative;
    overflow: hidden;
    &:hover {
        .btn {
            display: block;
        }
    }
    .image-content {
        position: absolute;
        width: 5000px;
        li {
            float: left;
        }
    }
    .btn-r {
        @extend %swBtnSet;
        right: 0;
    }
    .btn-l {
        @extend %swBtnSet;
        left: 0;
    }
    .num {
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 15px;
        margin-left: -130px;
        li {
            z-index: -1;
            width: 33px;
            height: 15px;
            border-top: 2px solid #fff;
            float: left;
            margin-right: 20px;
            cursor: hand;
            .focusLine {
                border-color: $green;
            }
        }
    }
}

.swiper_bottom {
    margin-top: 21px;
    width: 559px;
    height: 100px;
    border: 1px solid #dcdcdc;
    position: relative;
    overflow: hidden;
    .swiper_bottom_image {
        width: 5000px;
        position: absolute;
        li {
            width: 186px;
            height: 100px;
            text-align: center;
            float: left;
            border-right: 1px solid #dcdcdc;
            a {
                margin-bottom: 4px;
                color: #dcdcdc;
                p {
                    margin-top: 5px;
                    color: #999;
                }
            }
        }
    }
    .s_b_img {
        margin-top: 5px;
        width: 40px;
        height: 40px;
    }
    .btn-r,
    .btn-l {
        @extend %swBtnSet;
        width: 20px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        display: block;
    }
    .btn-r {
        right: 0;
    }
    .btn-l {
        left: 0;
    }
}


/*新闻信息 */

.news {
    width: 210px;
    height: 380px;
    border: 1px solid #dcdcdc;
    .news-flash {
        border-bottom: 1px solid #dcdcdc;
        p {
            margin: 8px 13px 8px 13px;
        }
        .flash {
            font-size: 14px
        }
        .hot {
            a {
                color: red;
            }
        }
    }
    p {
        @for $i from 3 through 5 {
            &:nth-child(#{$i}) {
                &:hover {
                    a {
                        color: $green;
                    }
                }
            }
        }
    }
}


/* 登录信息 */

%loginset {
    float: left;
    margin-top: 13px;
}

%loginset2 {
    line-height: 20px;
    width: 50px;
    height: 20px;
    margin-right: 6px;
    border: none;
    text-align: center;
    cursor: pointer;
}

.login-msg {
    height: 95px;
    border-bottom: 1px solid #dcdcdc;
    .login-logo {
        @extend %loginset;
        width: 64px;
        height: 40px;
        span {
            display: block;
            width: 64px;
            height: 40px;
            background: url(../../images/login-logo.gif) center center no-repeat;
            background-size: 40px 40px;
        }
    }
    .login-btn {
        @extend %loginset;
        p {
            margin-bottom: 4px;
        }
        form {
            margin-top: 7px;
            input {
                color: #fff;
            }
        }
    }
}

.login-success {
    @extend %loginset2;
    background-color: #fb5d20;
}

.login-register {
    @extend %loginset2;
    background-color: $green;
}


/* 页面底部轮播图 */

.enter_swiper {
    border: 1px solid #dcdcdc;
    width: 1000px;
    height: 90px;
    position: relative;
    overflow: hidden;
    &:hover {
        .swiper_btn {
            display: block;
        }
    }
    .enter_box {
        width: 1000px;
        height: 90px;
        padding: 19px;
        .enter_content {
            width: 50000px;
            height: 90px;
            position: absolute;
            li {
                width: 152px;
                height: 52px;
                float: left;
                border: 1px solid #dcdcdc;
                margin-right: 10px;
                a {
                    width: 150px;
                    height: 50px;
                    img {
                        width: 150px;
                        height: 50px;
                    }
                }
            }
        }
    }
    .swiper_btn {
        width: 40px;
        height: 50px;
        background-color: rgba(0, 0, 0, .5);
        font: {
            size: 40px;
            family: "宋体";
            weight: bolder;
        }
        line-height: 50px;
        text-align: center;
        position: absolute;
        color: #fff;
        position: absolute;
        top: 50%;
        margin-top: -25px;
        cursor: pointer;
        display: none;
    }
    .swiper_btnR {
        right: 0;
    }
    .swiper_btnL {
        left: 0;
    }
}


/* 页面底部 */


/* 手机下载 */

@mixin shareSelect($display:block, $width:32px, $height:32px, $float:left, $background:url(../../images/icon_7f8b929.png) no-repeat, $background-position:-145px 0, $margin-right:10px) {
    display: $display;
    width: $width;
    height: $height;
    float: $float;
    background: $background;
    background-position: $background-position;
    margin-right: $margin-right;
}

.share {
    margin-bottom: 8px;
    height: 32px;
    .tieba {
        @include shareSelect;
        &:hover {
            background-position: -145px -39px;
        }
    }
    .weibo {
        @include shareSelect($background-position: -23px 0);
        &:hover {
            background-position: -23px -39px;
        }
    }
    .weichat {
        @include shareSelect($background-position: -23px -82px);
        &:hover {
            background-position: -23px -121px;
        }
    }
}

$appSelect:img box txt;
.app-download {
    height: 54px;
    a {
        height: 54px;
        width: 219px;
        display: block;
        img {
            width: 20px;
            height: 40px;
            float: left;
        }
    }
    &:hover {
        p {
            color: $green;
        }
        strong {
            color: $green;
        }
    }
    .app-download-#{nth($appSelect,1)} {
        /* download-img */
        height: 40px;
        width: 20px;
        float: left;
    }
    .app-download-#{nth($appSelect,2)} {
        /* download-box */
        float: left;
    }
    .app-download-#{nth($appSelect,3)} {
        /* download-txt */
        float: left;
        margin-left: 20px;
        strong {
            font-size: 18px;
            margin-bottom: 5px;
        }
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

$infoSelect: txt img;
.information {
    height: 54px;
    .information-#{nth($infoSelect,1)} {
        /* information-txt */
        float: left;
        margin-left: 5px;
        p {
            margin-top: 0;
            margin-bottom: 0;
        }
        h5 {
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 5px;
        }
    }
    .information-#{nth($infoSelect,2)} {
        float: left;
        width: 40px;
        height: 40px;
        background: url(../../images/kefu.png) no-repeat 0/80px 40px;
    }
    &:hover {
        .information-#{nth($infoSelect, 1)} {
            p,
            h5 {
                color: $green;
            }
        }
    }
}


/* 页面底部 */

.foot {
    position: absolute;
    bottom: 0;
    width: 1349px;
    &:hover {
        color: #35b558;
    }
    .foot-list {
        height: 254px;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
        background-color: #fafafa;
        padding: 5px 0;
        .foot-ul {
            >li {
                float: left;
                padding-left: 20px;
                width: 180px;
                height: 200px;
                border-left: 1px solid #dcdcdc;
            }
            a,
            p,
            strong,
            h5 {
                color: #999;
            }
            .foot-child-ul {
                padding-left: 30px;
                a {
                    &:hover {
                        color: $green;
                    }
                }
                >li {
                    margin: 8px 0;
                    list-style: disc;
                }
                li.clear-style {
                    list-style: none;
                    text-indent: -10px;
                }
            }
            li.foot-icon-list {
                width: 260px;
                position: absolute;
                right: 171px;
                padding: 8px 0 0 32px;
                min-height: 230px;
                strong {
                    font-size: 16px;
                    font-weight: 500;
                    color: #35b558;
                }
                div {
                    margin-top: 10px;
                }
            }
        }
    }
    p,
    strong a {
        font-size: 12px;
        text-align: center;
        font-weight: normal;
        margin: 20px auto;
        color: #999;
    }
}
