html,
body {
    font-size: 13px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-width: 810px;
    min-height: 600px;
}


/* 头部尺寸设置 */

.bd-header {
    height: 10%;
}


/* 中部尺寸设置 */

.bd-content {
    height: 65%;
    text-align: center;
}


/* 底部尺寸设置 */

.bd-footer {
    width: 100%;
    height: 15%;
    margin: 0 auto;
    margin-top: 26px;
    text-align: center;
}

.center {
    margin: 0 auto;
    width: 667px;
    height: 100%;
}


/* 导航设置 */

.nav-bar {
    /* 导航容器定位 */
    position: absolute;
    top: 11px;
    right: 0;
}

.nav-bar .nav {
    /* 取消列表样式 */
    list-style: none;
    /* 文字靠右显示 */
    text-align: right;
}


/* 导航栏右间距 */

.nav-bar .nav li {
    float: left;
    margin-right: 23px;
}

a {
    cursor: pointer;
    color: #000;
}

.aGroup1 {
    font-weight: bold;
}


/* 更多设置 增加边框 定位 */

.group3 {
    line-height: 22px;
    position: relative;
    top: -6px;
    right: -6px;
    height: 22px;
    padding: 2px 5px 2px 5px;
    background-color: #3385ff;
}


/* 更多设置 字体颜色 */

.nav .group3 a {
    text-decoration: none;
    color: #fff;
}


/* .aGroup1, */

.nav li .aGroup1:hover {
    color: blue;
}

.nav li .aGroup2:hover {
    color: blue;
}


/* 鼠标移动到设置出现下拉选项设置 */

.optionUl {
    position: absolute;
    top: 40px;
    right: 84px;
    width: 70px;
    height: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    box-shadow: 1px 1px 2px 2px #dcdcdc;
    /* Opera10.5+,future browsers and IE6+ using -CSS3 */
    -webkit-box-shadow: 1px 1px 2px 2px #dcdcdc;
    /* Chrome and Safari */
    -moz-box-shadow: 1px 1px 2px 2px #dcdcdc;
    /* Firefox */
    behavri: url(../ie-css3.htc);
    *border: 1px solid #dcdcdc;
    border: 1px solid #dcdcdc\9;
}

.optionUl li {
    line-height: 25px;
    width: 70px;
    height: 25px;
    list-style: none;
    cursor: pointer;
}

.optionUl li a {
    display: block;
    text-decoration: none;
}

.optionUl li a:hover {
    color: #fff;
    background: #3385ff;
}


/* logo图片设置 */

.b-c-image img {
    width: 270px;
    height: 129px;
    margin-bottom: 15px;
}

.b-c-search {
    width: 667px;
    margin: 0 auto;
}


/* 搜索框、按钮浮动 */

.serach-box,
.search-btn {
    float: left;
}


/* 搜索框设置 */

.serach-box {
    line-height: 33px;
    width: 540px;
    height: 33px;
    border: 1px solid #b6b6b6;
    border-right: none;
    -ms-border: 1px solid #b6b6b6;
    -ms-border-right: none;
}

.serach-box:hover {
    border-color: #999999;
}

.serach-box input {
    font-size: 16px;
    line-height: 31px;
    width: 530px;
    height: 31px;
    border: 0;
    outline: 0;
}

.search-box:hover {
    border-color: #000;
}


/* 搜索按钮 */

.search-btn input {
    font-size: 15px;
    line-height: 35px;
    width: 100px;
    height: 35px;
    color: #fff;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #2868c8;
    border-left: none;
    background-color: #3385ff;
}

.search-btn input:hover {
    cursor: pointer;
    background-color: #317ef3;
}


/* 小相机按钮 */

.cmera {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-left: -23px;
    background-image: url('../img/camera.png');
}

.cmera:hover {
    background-position: 0 -20px;
}


/* 改变底部内容为水平显示 */

.code-img,
.code-div {
    float: left;
}

.code-content,
.bd-address {
    *float: left;
    float: left;
    width: 326px;
    height: 100%;
}

.code-content {
    margin-top: 14px;
}


/* 联系方式文字进行调整 */

.bd-address {
    font: 12px arial;
    font-style: normal;
    text-align: left;
    color: #999;
    *float: left;
    float: left;
}

.bd-address p a {
    color: #999;
}


/* 联系方式第一行间距 */

.a1 {
    margin-right: 50px;
}

.a2 {
    margin-right: 0px;
}

.ft-div {
    margin: 0 auto;
}


/* 更多产品设置 */

.more {
    position: absolute;
    top: -11px;
    right: 1px;
    overflow: hidden;
    width: 94px;
    height: 667px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 1px solid #c9c9c9;
    background: #f9f9f9;
}

.more li {
    cursor: pointer;
    clear: left;
    width: 94px;
    height: 78px;
    text-align: center;
}


/* 更多产品的a标签下划线去掉 */

.more li a {
    text-decoration: none;
}

.more li a span {
    margin-bottom: 3px;
}

.more li.fstli {
    margin: 0;
    height: 35px;
    padding: 23px 0 3px;
}

.fstli .setline {
    height: 31px;
    cursor: auto;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    text-decoration: none;
    *text-decoration-line: none
}


/* 设置更多产品菜单里的图片 */

.more .music a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -72px;
    height: 36px;
    width: 41px;
    margin: 0 auto;
}

.more .pic a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -113px;
    ;
    height: 36px;
    width: 32px;
    margin: 0 auto;
}

.more .zhidao a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -36px;
    height: 36px;
    width: 36px;
    margin: 0 auto;
}

.more .wenku a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -112px;
    height: 36px;
    width: 37px;
    margin: 0 auto;
}

.more .tuiguang a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -72px;
    height: 36px;
    width: 41px;
    margin: 0 auto;
}

.more .bang a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -72px;
    height: 36px;
    width: 41px;
    margin: 0 auto;
}


/* 设置底线 */

.setline {
    width: 66px;
    height: 63px;
    border-bottom: 1px solid #f0f0f0;
    display: block;
    margin: 0 auto;
}

.group3 .more li a {
    text-decoration: none;
}

.nav .group3 .more li a {
    text-decoration: none;
    // text-decoration: none\9;
    color: #000;
}

.more li a:hover {
    text-decoration: underline;
}


/* 底部设计 */

.code-div {
    line-height: 22px;
    margin-right: 36px;
    margin-top: 8px;
}

.code-div p {
    margin: 0;
}

.code-img {
    margin-right: 11px;
}

.quanbulianjie {
    text-decoration: underline;
}

.boldeFont {
    font-weight: bold;
}
