<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>百度新闻</title>
    <!--     <link rel="stylesheet" type="text/css" media="only screen and (max-width:768px)" href="./css/news.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/news.css ">
</head>

<body>
    <div class="wrap">
        <header id="newsHeader" class="newsHeader">
            <div class="header-bar">
                <nav class="header-nav">
                    <ul>
                        <li class="hn-list">
                            <a href="" title="">
                            </a>
                        </li>
                        <li class="hn-list">
                            <a href="" title="">
                            </a>
                        </li>
                        <li class="hn-list">
                            <a href="" title="">
                            </a>
                        </li>
                        <li class="hn-list">
                            <a href="" title="">
                            </a>
                        </li>
                        <li class="hn-list" id="backStage">
                            <a href="admin" title="">后台</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="clear">
            </div>
            <div id="newsBar" class="newsBar">
                <nav class="newsNav">
                    <ul>
                        <li class="news-list active" id="type1">
                            <a href="" title="">科技</a>
                        </li>
                        <li class="news-list" id="type2">
                            <a href="" title="">百家</a>
                        </li>
                        <li class="news-list" id="type3">
                            <a href="" title="">本地</a>
                        </li>
                        <li class="news-list" id="type4">
                            <a href="" title="">图片</a>
                        </li>
                        <li class="news-list" id="type5">
                            <a href="" title="">娱乐</a>
                        </li>
                        <li class="news-list" id="type6">
                            <a href="" title="">社会</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="newSwiper">
            <div class="swiperBox">
                <a href=""><img src="/images/newSW1.jpg" alt=""></a>
                <a href=""><img src="/images/newSW2.jpg" alt=""></a>
                <a href=""><img src="/images/newSW3.jpg" alt=""></a>
            </div>
        </div>
        <!-- /header -->
        <article id="newsContent" class="newsContent">
            <button class="loadMore" type="button">加载更多</button>
        </article>
        <!--content -->
    </div>
    <script type="text/javascript" src='/javascripts/jquery-2.2.3.min.js'></script>
    <script type="text/javascript" src='/javascripts/new.js'></script>
 </body>

</html>
