* {
    border: 0 none;
}

p {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 13px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-width: 810px;
    min-height: 600px;
}

li {
    cursor: pointer;
}

ul,
li {
    margin: 0;
    padding: 0;
}


/* 手机模式下隐藏 */

.mobClient {
    display: none;
}


/* 头部尺寸设置 */

.bd-header {
    height: 37px;
    margin-bottom: 20px;
}

.loginSuccess {
    float: left;
    display: none;
}

.loginSuccess div {
    float: left;
    margin: 12px 0px 0px 10px;
}

.skinBox {
    width: 100%;
    height: 270px;
    background: rgba(4, 4, 4, 0.75);
    position: absolute;
    z-index: 2;
    display: none;
    padding: 32px 100px;
    box-sizing: border-box;
}

.skinBox>span {
    display: block;
    width: 30px;
    height: 20px;
    color: #00afff;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 95px;
}

.headSkin span {
    display: block;
    text-decoration: underline;
    cursor: pointer;
}


/* 皮肤选项 */

.skinOpt {
    width: 200px;
    height: 112px;
    cursor: pointer;
    position: relative;
    float: left;
}

.skinOpt img {
    width: 200px;
}

.skinUl {
    width: 400px;
    heihgt: 270px;
}

.skinshadow {
    width: 200px;
    height: 112px;
    background: rgba(69, 103, 147, 0.62);
    position: absolute;
    top: 0;
    visibility: hidden;
    transition: .5s;
    opacity: 0;
}

.skinOpt:hover .skinshadow {
    visibility: visible;
    opacity: 1;
}


/* 中部尺寸设置 */

.bd-content {
    text-align: center;
}


/* 底部尺寸设置 */

.bd-footer {
    width: 670px;
    text-align: center;
    position: absolute;
    bottom: 63px;
    left: 50%;
    margin-left: -335px;
    z-index: -1;
}

.center {
    margin: 0 auto;
    width: 667px;
    height: 100%;
}


/* 导航设置 */

.nav-bar {
    /* 导航容器定位 */
    float: right;
    margin: 10px 0 0 10px;
}

.nav-bar .nav {
    /* 取消列表样式 */
    list-style: none;
    /* 文字靠右显示 */
    text-align: right;
}


/* 导航栏右间距 */

.nav-bar .nav li {
    float: left;
    margin-right: 23px;
}

a {
    cursor: pointer;
    color: #000;
}

.aGroup1 {
    font-weight: bold;
}


/* 更多设置 增加边框 定位 */

.group3 {
    line-height: 22px;
    position: relative;
    top: -6px;
    right: -6px;
    height: 22px;
    padding: 2px 5px 2px 5px;
    background-color: #3385ff;
}


/* 更多设置 字体颜色 */

.nav .group3 a {
    text-decoration: none;
    color: #fff;
}


/* .aGroup1, */

.nav li .aGroup1:hover {
    color: blue;
}

.nav li .aGroup2:hover {
    color: blue;
}


/* 鼠标移动到设置出现下拉选项设置 */

.optionUl {
    position: absolute;
    top: 37px;
    right: 84px;
    width: 70px;
    height: 100px;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sh adow: 1px 1px 2px 2px #dcdcdc;
    background: #fff;
    /* Opera10.5+,future browsers and IE6+ using -CSS3 */
    -webkit-box-shadow: 1px 1px 2px 2px #dcdcdc;
    /* Chrome and Safari */
    -moz-box-shadow: 1px 1px 2px 2px #dcdcdc;
    /* Firefox */
    behavri: url(../ie-css3.htc);
    *border: 1px solid #dcdcdc;
    border: 1px solid #dcdcdc\9;
}

.optionUl li {
    line-height: 25px;
    width: 70px;
    height: 25px;
    list-style: none;
    cursor: pointer;
}

.optionUl li a {
    display: block;
    text-decoration: none;
}

.optionUl li a:hover {
    color: #fff;
    background: #3385ff;
}


/* logo图片设置 */

.b-c-image img {
    width: 270px;
    height: 129px;
    margin-bottom: 15px;
    margin-top: 48px;
}

.b-c-image img:first-child {
    width: 205px;
    height: auto;
}

.b-c-search {
    width: 667px;
    margin: 0 auto;
    position: relative;
}


/* 搜索框、按钮浮动 */

.search-box,
.search-btn {
    float: left;
}


/* 搜索框设置 */

.search-box {
    line-height: 33px;
    width: 540px;
    height: 33px;
    border: 1px solid #b6b6b6;
    border-right: none;
    -ms-border: 1px solid #b6b6b6;
    -ms-border-right: none;
    background: #fff;
}

.search-box:hover {
    border-color: #999999;
}

.search-box input {
    font-size: 16px;
    line-height: 31px;
    width: 530px;
    height: 31px;
    border: 0;
    outline: 0;
}

.search-box:hover {
    border-color: #000;
}


/* 搜索按钮 */

.search-btn input {
    font-size: 15px;
    line-height: 35px;
    width: 100px;
    height: 35px;
    color: #fff;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #2868c8;
    border-left: none;
    background-color: #3385ff;
}

.search-btn input:hover {
    cursor: pointer;
    background-color: #317ef3;
}


/* 小相机按钮 */

.cmera {
    position: absolute;
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-left: -23px;
    background-image: url('../img/camera.png');
}

.cmera:hover {
    background-position: 0 -20px;
}


/* 改变底部内容为水平显示 */

.code-img,
.code-div {
    float: left;
}

.code-content,
.bd-address {
    *float: left;
    float: left;
    height: 100%;
}

.code-content,
.bd-address {
    margin-top: 14px;
}


/* 联系方式文字进行调整 */

.bd-address {
    font: 12px arial;
    font-style: normal;
    text-align: left;
    color: #999;
    *float: left;
    float: left;
}

.bd-address p {
    height: 20px;
}

.bd-address p:first-child {
    margin-bottom: 5px;
}

.bd-address p a {
    color: #999;
}


/* 联系方式第一行间距 */

.a1 {
    margin-right: 50px;
}

.a2 {
    margin-right: 0px;
}

.ft-div {
    margin: 0 auto;
}


/* 更多产品设置 */

.more {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 94px;
    height: 667px;
    margin: 0;
    padding: 0;
    list-style: none;
    border-left: 1px solid #c9c9c9;
    background: #f9f9f9;
}

.more li {
    cursor: pointer;
    clear: left;
    width: 94px;
    height: 78px;
    text-align: center;
}


/* 更多产品的a标签下划线去掉 */

.more li a {
    text-decoration: none;
}

.more li a span {
    margin-bottom: 3px;
}

.more li.fstli {
    margin: 0;
    height: 35px;
    padding: 23px 0 3px;
}

.fstli .setline {
    height: 31px;
    cursor: auto;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    text-decoration: none;
    *text-decoration-line: none
}


/* 设置更多产品菜单里的图片 */

.more .music a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -72px;
    height: 36px;
    width: 41px;
    margin: 0 auto;
}

.more .pic a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -113px;
    height: 36px;
    width: 32px;
    margin: 0 auto;
}

.more .zhidao a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -36px;
    height: 36px;
    width: 36px;
    margin: 0 auto;
}

.more .wenku a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -112px;
    height: 36px;
    width: 37px;
    margin: 0 auto;
}

.more .tuiguang a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -72px;
    height: 36px;
    width: 41px;
    margin: 0 auto;
}

.more .bang a span {
    display: block;
    background: url(../img/bdbri_icons_2e35e84b.png) -72px;
    height: 36px;
    width: 41px;
    margin: 0 auto;
}


/* 设置底线 */

.setline {
    width: 66px;
    height: 63px;
    border-bottom: 1px solid #f0f0f0;
    display: block;
    margin: 0 auto;
}

.group3 .more li a {
    text-decoration: none;
}

.nav .group3 .more li a {
    text-decoration: none;
    // text-decoration: none\9;
    color: #000;
}

.more li a:hover {
    text-decoration: underline;
}


/* 底部设计 */

.code-div {
    line-height: 22px;
    margin-right: 36px;
    margin-top: 8px;
}

.code-div p {
    margin: 0;
}

.code-img {
    margin-right: 11px;
}

.quanbulianjie {
    text-decoration: underline;
}

.boldeFont {
    font-weight: bold;
}

.websafe i {
    margin-right: 5px;
    width: 14px;
    height: 17px;
    position: relative;
    top: 3px;
    display: inline-block;
    background: url(../img/safe.png) no-repeat center center;
    background-size: 14px 17px;
}


/* 登录后 样式设置*/

.loginMsgBox {
    width: 900px;
    height: 400px;
    border: 1px solid #dcdcdc;
    margin: 81px auto 10px auto;
    display: none;
}

.msgUl {
    width: 100%;
    height: 40px;
    background: #fff;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dcdcdc;
}

.msgUl li {
    list-style: none;
    float: left;
    padding: 0 25px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.msgUl li:hover {
    background: #8e8e8e;
    color: #fff;
}

.follow {
    position: relativre;
    text-indent: 11px;
}

.follow span {
    margin: 11px 0 0 20px;
    width: 20px;
    height: 18px;
    position: absolute;
    background: url(../img/card_setts.png) no-repeat -15px 0;
    _background: url(../img/card_setts.png) no-repeat -15px 0;
}

.ulShow {
    background: #4e4e4e;
    color: #fff;
    font-weight: bold;
}

.msgCotent {
    width: 100%;
    height: 359px;
    background: #fff;
    display: none;
    z-index: -10;
    padding: 0px 25px 25px 25px;
    box-sizing: border-box;
}

.msgShow {
    display: block;
}


/* 体育标签轮播图 */

.spoartSwiper {
    width: 500px;
    height: 300px;
    position: relative;
    float: left;
    top: 30px;
    overflow: hidden;
}

.swiperBox {
    width: 8000px;
    height: 100%;
    position: absolute;
}

.swiperBox a {
    width: 500px;
    height: 300px;
    float: left;
}

.swiperBox img {
    width: 100%;
    height: 100%;
}

.sp_btn {
    display: block;
    width: 30px;
    height: 50px;
    line-height: 50px;
    font-size: 28px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    background: #000;
    color: #fff;
    cursor: pointer;
    display: none;
}

.spoartSwiper:hover .sp_btn {
    display: block;
}

.sp_btnL {
    left: 0;
}

.sp_btnR {
    right: 0;
}

.spartUl {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 10%;
    left: 50%;
    margin-left: -75px;
}

.spartUl li {
    list-style: none;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #8e8e8e;
    border: 1px solid #8e8e8e;
}

li.active {
    background: transparent;
}


/* 体育直播赛况 */

.liveShow {
    position: relative;
    float: left;
    top: 30px;
    right: -48px;
    height: 300px;
    width: 300px;
}

.liveShow ul {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dcdcdc;
    list-style: none;
    clear: both;
}

.liveShow ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding: 0px 10px;
    cursor: pointer;
}

.liveActive {
    font-weight: bold;
    border-bottom: 2px solid #000fff;
}

.liveBox {
    width: 100%;
    height: 270px;
    display: none;
}

.showThis {
    display: block;
}

.liveTab {
    float: left;
    width: 100%;
    height: 77px;
    margin-top: 10px;
    background: #f8f8f8;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.liveTab div {
    float: left;
}

.liveTab div span {
    display: block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -11px;
}

.liveTab div span img {
    width: 22px;
    height: 22px;
}

.liveTab div:nth-child(2) p {
    margin: 8px 0px;
}

.liveTab div:nth-child(1) {
    width: 90px;
    height: 100%;
    text-align: center;
    position: relative;
}

.liveTab div:nth-child(1) p,
.liveTab div:nth-child(3) p {
    width: 56px;
    position: absolute;
    left: 50%;
    top: 55%;
    margin-left: -28px;
}

.liveTab div:nth-child(2) {
    width: 120px;
    height: 100%;
}

.liveTab div:nth-child(3) {
    width: 90px;
    height: 100%;
    text-align: center;
    position: relative;
}


/* 奥运标签 */

.rio {
    background: url(../img/rioBG.png) no-repeat;
    background-size: cover;
}

.rioLogo {
    height: 59px;
}

.rioLogo img {
    height: 30px;
    margin: 13px 17px;
}

.rioLogo img,
.rioLogo h1 {
    float: left;
}

.rioLogo h1 {
    line-height: 59px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #4CAF50;
}

.rioCenter {
    width: 300px;
    height: 59px;
    margin: 0 auto;
}

.rioLeft {
    width: 570px;
    height: 280px;
    float: left;
}

.rioRight {
    width: 252px;
    heihgt: 280px;
    float: left;
}


/* 奥运轮播图 */

.rioUl {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -77px;
}

.rioUl li {
    list-style: none;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
}

.rioSwiper {
    position: relative;
    float: left;
    width: 316px;
    height: 280px;
    overflow: hidden;
}

.rioSwiper:hover .sp_btn {
    display: block;
}

.rioSwiperBox {
    width: 3000px;
    position: absolute;
}

.rioSwiperBox a {
    float: left;
    border: 1px solid transparent;
}

.rioNews {
    width: 251px;
    height: 281px;
    float: left;
    border: 1px solid #dcdcdc;
    border-left: 0;
    box-sizing: border-box;
    background: #fff;
}

.rioNews a {
    text-decoration: none;
}

.rioNews a:hover {
    text-decoration: underline;
}

.rioNews h1,
.rioNews p {
    text-align: left;
    text-indent: 20px;
}

.rioNews p {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* 奥运赛程表 */

.rioTable {
    background: #fff;
    padding: 0px 5px;
    height: 280px;
}

.rioTable tbody tr {
    font-size: 13px;
    height: 20px;
}

.rioUl li.active {
    background: transparent;
}


/* 导航标签 */

.navTab {
    width: 124px;
    height: 58px;
    display: block;
    margin: 15px 15px 0px 0px;
    background: #fcfcfc;
    border: 1px solid #fcfcfc;
    float: left;
    text-decoration: none;
    position: relative;
    ;
}

.navTab img {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 20px;
}

.navTab:hover {
    border: 1px solid #e8e8e8;
}

.navTab p {
    width: 70px;
    height: 100%;
    line-height: 58px;
    white-space: nowrap;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    position: relative;
    left: 43px;
}

.nav_Tab h1 {
    margin: 25px 0px 0px 0px;
}

.rebate {
    width: 100%;
    height: 20px;
}


/* 购物 */

.goods {
    width: 200px;
    height: 265px;
    float: left;
    margin-right: 12px;
    margin-top: 25px;
    position: relative;
}

.goods img {
    width: 100%;
    height: 100%;
}

.introduceBox {
    width: 190px;
    heihgt: 62px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -95px;
}

.introduce {
    background: #fff;
    width: 190px;
    height: 30px;
    line-height: 30px;
}

.introduce p {
    padding: 0px 10px;
    border-bottom: 1px solid transparent;
    font-size: 14px;
    font-family: '黑体';
}

.introduce p font {
    color: #ff000f;
}

.opcity {
    width: 180px;
    height: 1px;
    background: transparent;
}

.saleMsg {
    width: 200px;
    height: 265px;
    text-align: left;
    float: left;
    margin-right: 12px;
    margin-top: 25px;
}

.saleMsg a:hover {
    text-decoration: underline;
}

.saleOne h1,
.slaeTwo h1 {
    font-size: 16px;
    margin: 0;
}

.saleOne h1 {
    margin-bottom: 3px;
}

.slaeTwo h1 {
    margin-bottom: 10px;
}

.saleOne {
    padding-bottom: 20px
}

.saleOne p {
    color: #8e8e8e;
    margin-bottom: 10px;
}

.saleOne p a {
    text-decoration: none;
    color: #00afff;
}

.slaeTwo ul,
.slaeTwo li {
    list-style: none;
}

.slaeTwo li {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.slaeTwo li a {
    color: #8e8e8e;
    text-decoration: none;
}

.slaeTwo li:last-child a {
    color: #00afff;
}


/* 视频 */

.vedioBox {
    width: 200px;
    height: 315px;
    float: left;
    margin-top: 25px;
    margin-right: 12px;
    position: relative;
}

.unInteresting {
    width: 80px;
    height: 30px;
    border: 1px solid #dcdcdc;
    line-height: 30px;
    position: absolute;
    top: -34px;
    right: -34px;
    display: none;
    background: #fff;
}

.addFocus {
    width: 80px;
    height: 30px;
    border: 1px solid #dcdcdc;
    line-height: 30px;
    position: absolute;
    top: -34px;
    right: 0px;
    display: none;
    background: #fff;
}

.vedioBox img {
    width: 100%;
}

.vedioBox a {
    display: block;
    width: 100%;
    height: 315px;
    background: #f8f8f8;
}

.vedioBox p {
    position: absolute;
    bottom: 23px;
    left: 8px;
    font-size: 14px;
}

.movieTab {
    display: block;
    width: 42px;
    height: 42px;
    background: url(../img/movieTab.png) no-repeat;
    position: absolute;
    right: 0;
    top: 0;
}

.movieEdit {
    display: none;
    width: 18px;
    height: 20px;
    background: url(../img/vicon_312b5ba6.png) no-repeat;
    background-position: -4px -1px;
    position: absolute;
    top: 5px;
    right: 27px;
}

.star {
    background-position: -48px -1px;
    right: 5px;
}

.vedioBox a:hover .movieTab {
    display: none;
}

.vedioBox a:hover .movieEdit {
    display: block;
}

.vedioLongBox {
    border: 0;
    width: 420px;
    height: 315px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-right: 0;
}

.vedioLongBox a {
    width: 200px;
    height: 150px;
    float: left;
    position: relative;
}

.movie a img {
    height: 268px;
}

.level {
    display: block;
    width: 66px;
    height: 13px;
    background: url(../img/star.png);
    position: absolute;
    bottom: 7px;
    left: 8px;
}

.levle1 {
    display: block;
    width: 58px;
    height: 13px;
    background: url(../img/star.png);
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-position: 0px 12px;
}


/* 我的关注 */

.myFocus {
    background: #fff url(../img/all_blank_07895b96.png)no-repeat;
    background-position: center 120px;
}

.myFocus button {
    width: 60px;
    height: 25px;
    color: #fff;
    background: #00affc;
    position: relative;
    top: 166px;
    cursor: pointer;
}
