html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #CDCDC1;
	font-size: 15px;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
}

.course {
	border-collapse: collapse;
}

.course tbody {
	border: 2px solid #000;
	text-align: center;
	/*文字居中*/
}

.course td {
	border: 1px solid #000;
	padding: 10px;
	width: 58px;
}

.course .thead tr th {
	padding-bottom: 10px;
}