 html,
 body {
     font-size: 13px;
 }
 /* 外边框设置 */

 body {
     background-image: url(../images/bg_wood.jpg);
 }

 .box {
     margin: 0 auto;
     height: 510px;
     width: 720px;
     border-radius: 30px;
     position: relative;
     background-color: #fff;
 }
 /* 标题图片 */
 
 .imgDiv {
     margin: 4px 0;
 }
 /* 图片位置调整 */
 
 div img {
     margin-left: 30px;
 }
 /* 小导航 */
 
 .nav {
     list-style: none;
     display: inline-block;
     position: absolute;
     right: 28px;
     top: 50px;
 }
 
 .nav li {
     display: inline-block;
     margin-right: 3px;
 }
 
 .nav li a {
     text-decoration: none;
     color: #FF5B8B;
 }
 
 .nav li a:hover {
     color: #000;
 }
 
 .tb-box {
     width: 660px;
     height: 380px;
     border: 1px solid #C9C9C9;
     margin: 0 auto;
 }
 /* 内容表格设置 */
 
 .tb-content {
     width: 620px;
     height: 320px;
     margin: 0 auto;
 }
 /* 将两个表格的单元格边框重叠 */
 
 .tb-box,
 .tb-content {
     border-collapse: collapse;
 }
 
 thead tr th {
     height: 30px;
     padding: 5px;
     font-family: "黑体","宋体";
     font-size: 18px;
 }
 
 .setH {
     height: 22px;
     padding-top: 2px;
 }
 /* 设置灰色单元格 */
 
 .gray {
     background-color: #ededed;
     font-weight: bolder;
 }
 
 .gray td {
     padding: 3px 0 3px 13px;
 }
 /* 按钮设置 */
 
 .btn {
     text-align: center;
     height: 50px;
 }
 
 .btn input {
     width: 60px;
     height: 25px;
     background-color: #ededed;
     border: 1px solid #000;
 }
 
 .btn input:hover {
     border-color: #1E90FF;
     background-color: #87CEFA;
 }
 
 .user-msg .right {
     text-align: right;
     width: 18%;
 }
 
 .pepid {
     text-align: right;
     height: 80px;
 }
 
 i {
     color: red;
     font-style: normal;
 }
 
 .lt {
     text-align: left;
     padding-left: 8px;
 }
 
 .foot {
     text-align: center;
 }
